.calc-button {
  font-size: 35px;
  background: #f2274f;
  color: #fff;
  border: solid 1px #921029;
  text-align: center;
  width: 25%;
  line-height: 1;
}

.calc-button:focus {
  outline: none;
}

.calc-button:active {
  color: #fff;
  background: #921029;
}

.calc-number {
  background: #fff;
  color: #000;
}
