body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.calc-container {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.calc-controls {
  flex-grow: 2;
  display: flex;
}

.calc-col {
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
}

.calc-brackets-div {
  padding: 0;
  height: 20%;
}
