.calc-button {
	font-size: 50px;
  background: #F2274F;
  color: #fff;
  border: solid 1px #921029;
  text-align: center;
  width: 25%;
}

.calc-button:focus {
  outline: none;
}

.calc-button:active {
  color: #fff;
  background: #921029;
}

.calc-number {
	background: #fff;
	color: #000;
}
