.calc-input {
  font-size: 50px;
  background: #433437;
  color: #fff;
  border: solid 1px #F2274F;
  border-bottom: none;
  text-align: right;
  width: 100vw;
  padding-right: 10px;
  margin-bottom: 0;
  line-height: 2;
}
